// 버튼 기본 속성
.btn-style {
  white-space: nowrap;
  outline: none;
  border: none;
  cursor: pointer;
  font-family: var(--pretendard);
  font-size: 1.6rem;
}

// variant START
.cta-btn {
  font-weight: 700;
  color: white;
  background-color: var(--primary);
}
.text-center {
  font-weight: 700;
  color: var(--cool-gray500);
  background-color: transparent;
}
.secondary-btn {
  font-weight: 700;
  color: var(--cool-gray900);
  background-color: var(--secondary);
}
// variant END

// size START
.size-x-small {
  padding: 0.8rem 1.6rem;
  border-radius: var(--border-radius-sm);
  font-size: var(--font-sm);
}
.size-small {
  padding: 1.6rem;
  border-radius: var(--border-radius-mid);
  font-size: var(--font-mid);
}
// size END
.full-width {
  width: 100%;
}
